estructura.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="netflix">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="peliculas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pelicula" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="genero" type="xs:string"/>
                                        <xs:element name="anio" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="series">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="serie" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="genero" type="xs:string"/>
                                        <xs:element name="anio" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="documentales">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="documental" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="contenido" type="xs:string"/>
                                        <xs:element name="episodios" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
